@import url("https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:regular,500,700,800&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

address {
  font-style: normal;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

label {
  display: inline-block;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  display: none;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #5e6282;
  background-color: #fff;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 76.875rem;
  padding-inline: 0.9375rem;
  margin: 0 auto;
}

@media (min-width: 76.875em) {
  .header-block--margin {
    margin-bottom: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (margin-bottom: clamp( 2.1875rem , 1.4182692308rem  +  3.8461538462vw , 4.375rem )) {
    .header-block--margin {
      margin-bottom: clamp( 2.1875rem , 1.4182692308rem  +  3.8461538462vw , 4.375rem );
    }
  }
  @supports not (margin-bottom: clamp( 2.1875rem , 1.4182692308rem  +  3.8461538462vw , 4.375rem )) {
    .header-block--margin {
      margin-bottom: calc(2.1875rem + 2.1875 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .header-block--margin {
    margin-bottom: 2.1875rem;
  }
}
.header-block__label {
  color: #4475f2;
  font-size: 1.125rem;
  font-weight: 800;
  letter-spacing: 0.106875rem;
  text-transform: uppercase;
}
.header-block__label:not(:last-child) {
  margin-bottom: 0.625rem;
}
.header-block__title {
  color: #000;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 0.03rem;
}
@media (min-width: 76.875em) {
  .header-block__title {
    font-size: 3rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (font-size: clamp( 1.875rem , 1.4793956044rem  +  1.978021978vw , 3rem )) {
    .header-block__title {
      font-size: clamp( 1.875rem , 1.4793956044rem  +  1.978021978vw , 3rem );
    }
  }
  @supports not (font-size: clamp( 1.875rem , 1.4793956044rem  +  1.978021978vw , 3rem )) {
    .header-block__title {
      font-size: calc(1.875rem + 1.125 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .header-block__title {
    font-size: 1.875rem;
  }
}

.breadcrumbs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.125rem;
}
.breadcrumbs__item {
  position: relative;
  line-height: 2;
}
.breadcrumbs__item.active {
  color: #4737ff;
}
.breadcrumbs__item:not(:last-child):after {
  position: absolute;
  content: "";
  top: 50%;
  right: -0.9375rem;
  width: 0.625rem;
  height: 0.8125rem;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url(../img/icons/decor-breadcrumbs.svg) no-repeat;
}
@media (any-hover: hover) {
  .breadcrumbs__link:hover {
    text-decoration: underline;
  }
}

.login {
  -webkit-padding-after: 2.5rem;
          padding-block-end: 2.5rem;
}
@media (min-width: 76.875em) {
  .login {
    -webkit-padding-before: 4.375rem;
            padding-block-start: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (padding-block-start: clamp( 2.5rem , 1.8406593407rem  +  3.2967032967vw , 4.375rem )) {
    .login {
      -webkit-padding-before: clamp( 2.5rem , 1.8406593407rem  +  3.2967032967vw , 4.375rem );
              padding-block-start: clamp( 2.5rem , 1.8406593407rem  +  3.2967032967vw , 4.375rem );
    }
  }
  @supports not (padding-block-start: clamp( 2.5rem , 1.8406593407rem  +  3.2967032967vw , 4.375rem )) {
    .login {
      -webkit-padding-before: calc(2.5rem + 1.875 * (100vw - 20rem) / 56.875);
              padding-block-start: calc(2.5rem + 1.875 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .login {
    -webkit-padding-before: 2.5rem;
            padding-block-start: 2.5rem;
  }
}
.login__container {
  max-width: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}
.login__logo img {
  width: 6.25rem;
  aspect-ratio: 1;
}
@media (max-width: 47.99875em) {
  .login__logo img {
    width: 4.375rem;
  }
}
.login__body {
  width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-inline: 2.25rem;
  -webkit-padding-before: 2.375rem;
          padding-block-start: 2.375rem;
  -webkit-padding-after: 1.25rem;
          padding-block-end: 1.25rem;
  border-radius: 0.3125rem;
  border-top: 0.09375rem solid #4475f2;
  background: #fff;
  -webkit-box-shadow: 0 0.9375rem 1.875rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.9375rem 1.875rem 0 rgba(0, 0, 0, 0.1);
}
@media (max-width: 47.99875em) {
  .login__body {
    padding-inline: 0.9375rem;
    -webkit-padding-before: 1.25rem;
            padding-block-start: 1.25rem;
  }
}
.login__register {
  line-height: 1.87;
}
.login__register a {
  color: #4737ff;
}
@media (any-hover: hover) {
  .login__register a:hover {
    text-decoration: underline;
  }
}
.login__copy {
  font-size: 0.875rem;
}

.body-login > * {
  margin-bottom: 0.9375rem;
}
.body-login__breadcrumbs {
  margin-bottom: 1.5rem;
}
.body-login__title {
  color: #181e4b;
  font-size: 1.25rem;
  font-weight: 700;
}
.body-login__label {
  margin-bottom: 2.5rem;
}
.body-login > *:last-child {
  margin-bottom: 0;
}

.form-login__field {
  margin-bottom: 1.75rem;
}
.form-login__label {
  color: #181e4b;
  font-weight: 700;
  margin-bottom: 0.9375rem;
}
.form-login__input {
  border-radius: 0.25rem;
  border: 0.0625rem solid #dedede;
  height: 2.5rem;
  padding-inline: 0.9375rem;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
@media (any-hover: hover) {
  .form-login__input:hover {
    border-color: #4475f2;
  }
}
.form-login__input:focus {
  outline: none;
  border: 0.125rem solid #4737ff;
}
.form-login__button {
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.78;
  width: 100%;
  padding: 0.625rem;
  text-align: center;
  border-radius: 0.25rem;
  background-color: #4475f2;
  -webkit-box-shadow: 0 0.9375rem 1.875rem 0 rgba(68, 117, 242, 0.1);
          box-shadow: 0 0.9375rem 1.875rem 0 rgba(68, 117, 242, 0.1);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (any-hover: hover) {
  .form-login__button:hover {
    background-color: #4737ff;
  }
}

.register {
  -webkit-padding-after: 2.5rem;
          padding-block-end: 2.5rem;
}
@media (min-width: 76.875em) {
  .register {
    -webkit-padding-before: 4.375rem;
            padding-block-start: 4.375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (padding-block-start: clamp( 2.5rem , 1.8406593407rem  +  3.2967032967vw , 4.375rem )) {
    .register {
      -webkit-padding-before: clamp( 2.5rem , 1.8406593407rem  +  3.2967032967vw , 4.375rem );
              padding-block-start: clamp( 2.5rem , 1.8406593407rem  +  3.2967032967vw , 4.375rem );
    }
  }
  @supports not (padding-block-start: clamp( 2.5rem , 1.8406593407rem  +  3.2967032967vw , 4.375rem )) {
    .register {
      -webkit-padding-before: calc(2.5rem + 1.875 * (100vw - 20rem) / 56.875);
              padding-block-start: calc(2.5rem + 1.875 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .register {
    -webkit-padding-before: 2.5rem;
            padding-block-start: 2.5rem;
  }
}
.register__container {
  max-width: 45.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}
.register__logo img {
  width: 6.25rem;
  aspect-ratio: 1;
}
@media (max-width: 47.99875em) {
  .register__logo img {
    width: 4.375rem;
  }
}
.register__body {
  width: 100%;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding-inline: 2.25rem;
  -webkit-padding-before: 2.375rem;
          padding-block-start: 2.375rem;
  -webkit-padding-after: 1.25rem;
          padding-block-end: 1.25rem;
  border-radius: 0.3125rem;
  border-top: 0.09375rem solid #4475f2;
  background: #fff;
  -webkit-box-shadow: 0 0.9375rem 1.875rem 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.9375rem 1.875rem 0 rgba(0, 0, 0, 0.1);
}
@media (max-width: 47.99875em) {
  .register__body {
    padding-inline: 0.9375rem;
    -webkit-padding-before: 1.25rem;
            padding-block-start: 1.25rem;
  }
}
.register__copy {
  font-size: 0.875rem;
}

.body-register > * {
  margin-bottom: 0.9375rem;
}
.body-register__breadcrumbs {
  margin-bottom: 1.5rem;
}
.body-register__title {
  color: #181e4b;
  font-size: 1.25rem;
  font-weight: 700;
}
.body-register__label {
  margin-bottom: 2.5rem;
}
.body-register > *:last-child {
  margin-bottom: 0;
}

.form-register {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 1.5625rem;
}
.form-register__label {
  color: #181e4b;
  font-weight: 700;
  margin-bottom: 0.9375rem;
}
.form-register__input {
  border-radius: 0.25rem;
  border: 0.0625rem solid #dedede;
  height: 2.5rem;
  padding-inline: 0.9375rem;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
@media (any-hover: hover) {
  .form-register__input:hover {
    border-color: #4475f2;
  }
}
.form-register__input:focus {
  outline: 0.125rem solid #4737ff;
}
.form-register__button {
  grid-column: span 2;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.78;
  width: 100%;
  padding: 0.625rem;
  text-align: center;
  border-radius: 0.25rem;
  background-color: #4475f2;
  -webkit-box-shadow: 0 0.9375rem 1.875rem 0 rgba(68, 117, 242, 0.1);
          box-shadow: 0 0.9375rem 1.875rem 0 rgba(68, 117, 242, 0.1);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (any-hover: hover) {
  .form-register__button:hover {
    background-color: #4737ff;
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}
.radio__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}
.radio__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 1.25rem;
  height: 1.25rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 50%;
  border: 0.125rem solid #dedede;
  cursor: pointer;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
@media (any-hover: hover) {
  .radio__input:hover {
    border-color: #4475f2;
  }
}
.radio__input:checked {
  border: 0.3125rem solid #4475f2;
}
.radio__label {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 2.28;
  cursor: pointer;
}

.menu-open body {
  overflow: hidden;
}

.header {
  z-index: 50;
  top: -6.25rem;
  left: 0;
  width: 100%;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
.header.fixed {
  position: fixed;
  -webkit-transform: translateY(6.25rem);
      -ms-transform: translateY(6.25rem);
          transform: translateY(6.25rem);
  background-color: #4475f2;
}
.header.fixed .header__container {
  -webkit-padding-before: 1.25rem;
          padding-block-start: 1.25rem;
  -webkit-padding-after: 1.25rem;
          padding-block-end: 1.25rem;
}
.header.fixed .header__logo {
  padding: 0.46875rem 0.625rem;
  border-radius: 0.625rem;
  background-color: #fff;
  -webkit-box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.5);
}
.header.fixed .header__button {
  -webkit-box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.5);
}
.header.fixed .header__menu::before {
  height: 5.1875rem;
}
@media (min-width: 62em) {
  .header.fixed .menu__items {
    background-color: #fff;
    padding-block: 0.5625rem;
    padding-inline: 0.9375rem;
    border-radius: 0.625rem;
    -webkit-box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.5);
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-padding-before: 4.375rem;
          padding-block-start: 4.375rem;
  -webkit-padding-after: 3.375rem;
          padding-block-end: 3.375rem;
}
@media (max-width: 75em) {
  .header__container {
    -webkit-padding-before: 3.125rem;
            padding-block-start: 3.125rem;
    -webkit-padding-after: 2.1875rem;
            padding-block-end: 2.1875rem;
  }
}
@media (max-width: 61.99875em) {
  .header__container {
    -webkit-padding-before: 1.5625rem;
            padding-block-start: 1.5625rem;
    -webkit-padding-after: 1.5625rem;
            padding-block-end: 1.5625rem;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }
}
@media (max-width: 29.6875em) {
  .header__container {
    gap: 1.25rem;
    -webkit-padding-before: 1.25rem;
            padding-block-start: 1.25rem;
    -webkit-padding-after: 1.25rem;
            padding-block-end: 1.25rem;
  }
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7.8125rem;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 2;
}
@media (max-width: 75em) {
  .header__logo {
    padding: 0.46875rem 0.625rem;
    border-radius: 0.625rem;
    background-color: #fff;
    -webkit-box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.5);
  }
}
.header__logo img {
  width: 1.75rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.header__logo span {
  color: #000;
  font-size: 1.125rem;
  font-weight: 700;
}
@media (max-width: 61.99875em) {
  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100dvh;
    background-color: #fff;
    overflow-y: auto;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
  }
  .menu-open .header__menu {
    width: 100%;
  }
  .header__menu::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 5.8125rem;
    background-color: #4475f2;
    z-index: 2;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
  }
}
@media (max-width: 61.99875em) and (max-width: 29.6875em) {
  .header__menu::before {
    height: 5.1875rem;
  }
}
@media (max-width: 61.99875em) {
  .menu-open .header__menu::before {
    width: 100%;
  }
}
.header__button {
  position: relative;
  z-index: 2;
  color: #181e4b;
  font-weight: 700;
  line-height: 1.56;
  padding: 0.5625rem 2.875rem;
  border-radius: 0.625rem;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (max-width: 75em) {
  .header__button {
    -webkit-box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.5);
  }
}
@media (max-width: 61.99875em) {
  .header__button {
    justify-self: end;
  }
}
@media (max-width: 26.5625em) {
  .header__button {
    padding: 0.5625rem 1.5625rem;
  }
}
@media (any-hover: hover) {
  .header__button:hover {
    -webkit-box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.5);
    color: #4737ff;
  }
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 0.625rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media ((max-width: 75em) and (min-width: 62em)) {
  .menu__items {
    background-color: #fff;
    padding-block: 0.5625rem;
    padding-inline: 0.9375rem;
    border-radius: 0.625rem;
    -webkit-box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.5);
  }
}
@media (max-width: 61.99875em) {
  .menu__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 2.1875rem;
    -webkit-padding-before: 6.4375rem;
            padding-block-start: 6.4375rem;
    -webkit-padding-after: 1.25rem;
            padding-block-end: 1.25rem;
  }
}
@media (max-width: 29.6875em) {
  .menu__items {
    -webkit-padding-before: 5.8125rem;
            padding-block-start: 5.8125rem;
  }
}
.menu__link {
  color: #181e4b;
  text-transform: capitalize;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  line-height: 1.56;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #4737ff;
  }
}
@media (max-width: 61.99875em) {
  .menu__link {
    color: #000;
  }
}
.menu__link.active {
  color: #4737ff;
}

.icon-menu {
  display: none;
}
@media (max-width: 61.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    z-index: 5;
  }
}
@media (max-width: 61.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}
@media (max-width: 61.99875em) {
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (min-width: 76.875em) {
  .page__hero {
    margin-bottom: 11.25rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (margin-bottom: clamp( 5rem , 2.8021978022rem  +  10.989010989vw , 11.25rem )) {
    .page__hero {
      margin-bottom: clamp( 5rem , 2.8021978022rem  +  10.989010989vw , 11.25rem );
    }
  }
  @supports not (margin-bottom: clamp( 5rem , 2.8021978022rem  +  10.989010989vw , 11.25rem )) {
    .page__hero {
      margin-bottom: calc(5rem + 6.25 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .page__hero {
    margin-bottom: 5rem;
  }
}
@media (min-width: 76.875em) {
  .page__features {
    margin-bottom: 9.375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (margin-bottom: clamp( 3.125rem , 0.9271978022rem  +  10.989010989vw , 9.375rem )) {
    .page__features {
      margin-bottom: clamp( 3.125rem , 0.9271978022rem  +  10.989010989vw , 9.375rem );
    }
  }
  @supports not (margin-bottom: clamp( 3.125rem , 0.9271978022rem  +  10.989010989vw , 9.375rem )) {
    .page__features {
      margin-bottom: calc(3.125rem + 6.25 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .page__features {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 76.875em) {
  .page__services {
    margin-bottom: 10.625rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (margin-bottom: clamp( 3.125rem , 0.4876373626rem  +  13.1868131868vw , 10.625rem )) {
    .page__services {
      margin-bottom: clamp( 3.125rem , 0.4876373626rem  +  13.1868131868vw , 10.625rem );
    }
  }
  @supports not (margin-bottom: clamp( 3.125rem , 0.4876373626rem  +  13.1868131868vw , 10.625rem )) {
    .page__services {
      margin-bottom: calc(3.125rem + 7.5 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .page__services {
    margin-bottom: 3.125rem;
  }
}
@media (min-width: 76.875em) {
  .page__reviews {
    margin-bottom: 10.625rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (margin-bottom: clamp( 4.375rem , 2.1771978022rem  +  10.989010989vw , 10.625rem )) {
    .page__reviews {
      margin-bottom: clamp( 4.375rem , 2.1771978022rem  +  10.989010989vw , 10.625rem );
    }
  }
  @supports not (margin-bottom: clamp( 4.375rem , 2.1771978022rem  +  10.989010989vw , 10.625rem )) {
    .page__reviews {
      margin-bottom: calc(4.375rem + 6.25 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .page__reviews {
    margin-bottom: 4.375rem;
  }
}
@media (min-width: 76.875em) {
  .page__location {
    margin-bottom: 10.625rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (margin-bottom: clamp( 4.375rem , 2.1771978022rem  +  10.989010989vw , 10.625rem )) {
    .page__location {
      margin-bottom: clamp( 4.375rem , 2.1771978022rem  +  10.989010989vw , 10.625rem );
    }
  }
  @supports not (margin-bottom: clamp( 4.375rem , 2.1771978022rem  +  10.989010989vw , 10.625rem )) {
    .page__location {
      margin-bottom: calc(4.375rem + 6.25 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .page__location {
    margin-bottom: 4.375rem;
  }
}

.hero {
  position: relative;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}
@media (max-width: 75em) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3.125rem;
  }
}
.hero__container::before, .hero__container::after {
  position: absolute;
  content: "";
  bottom: -2.1875rem;
  -webkit-box-shadow: 0px 30px 60px rgba(71, 74, 87, 0.25);
          box-shadow: 0px 30px 60px rgba(71, 74, 87, 0.25);
  width: 150%;
  height: 150%;
  background-color: #4475f2;
  border-radius: 3.125rem;
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
}
.hero__container::before {
  left: calc(50% + 1.9375rem);
  -webkit-transform: skewX(-21deg);
      -ms-transform: skewX(-21deg);
          transform: skewX(-21deg);
}
.hero__container::after {
  left: calc(50% + 27.1875rem);
  -webkit-transform: skewX(31deg);
      -ms-transform: skewX(31deg);
          transform: skewX(31deg);
}
.hero__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 36.25rem;
          flex: 0 1 36.25rem;
  position: relative;
  z-index: 2;
}
@media (max-width: 75em) {
  .hero__content {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }
}
.hero__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 37.5rem;
          flex: 0 1 37.5rem;
  position: relative;
  z-index: 2;
}
@media (max-width: 75em) {
  .hero__images {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }
}

.content-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}
@media (max-width: 75em) {
  .content-hero {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}
@media (max-width: 38.75em) {
  .content-hero {
    gap: 1.25rem;
  }
}
.content-hero__title {
  color: #181e4b;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: -0.19rem;
}
@media (min-width: 76.875em) {
  .content-hero__title {
    font-size: 4.75rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (font-size: clamp( 2.5rem , 1.7087912088rem  +  3.956043956vw , 4.75rem )) {
    .content-hero__title {
      font-size: clamp( 2.5rem , 1.7087912088rem  +  3.956043956vw , 4.75rem );
    }
  }
  @supports not (font-size: clamp( 2.5rem , 1.7087912088rem  +  3.956043956vw , 4.75rem )) {
    .content-hero__title {
      font-size: calc(2.5rem + 2.25 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .content-hero__title {
    font-size: 2.5rem;
  }
}
.content-hero__title a {
  color: #4475f2;
  text-decoration: underline;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .content-hero__title a:hover {
    color: #4737ff;
  }
}
@media (max-width: 75em) {
  .content-hero__title a {
    color: #fff;
    text-shadow: 0 0 0.9375rem rgba(0, 0, 0, 0.6);
  }
}
.content-hero__text {
  max-width: 31.25rem;
  line-height: 1.87;
}
.content-hero__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}
@media (max-width: 75em) {
  .content-hero__text {
    font-size: 1.125rem;
    color: #181e4b;
  }
}
@media (max-width: 38.75em) {
  .content-hero__text {
    font-size: 1rem;
  }
}
.content-hero__button {
  position: relative;
  top: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 0.25rem;
  font-weight: 700;
  line-height: 1.56;
  color: #fff;
  padding: 1.125rem 3.375rem;
  border-radius: 0.625rem;
  background-color: #4475f2;
  -webkit-box-shadow: 0rem 1.875rem 3.75rem 0rem rgba(68, 117, 242, 0.25);
          box-shadow: 0rem 1.875rem 3.75rem 0rem rgba(68, 117, 242, 0.25);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .content-hero__button:hover {
    top: 0.3125rem;
    background-color: #4737ff;
  }
}
@media (max-width: 75em) {
  .content-hero__button {
    -ms-flex-item-align: center;
        align-self: center;
    -webkit-box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.7);
  }
}
@media (max-width: 29.6875em) {
  .content-hero__button {
    width: 100%;
  }
}

.images-hero {
  display: grid;
  grid-template-columns: auto repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}
@media (max-width: 75em) {
  .images-hero {
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }
}
.images-hero__item {
  border-radius: 0.625rem;
  -webkit-box-shadow: 0 0.9375rem 1.875rem 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.9375rem 1.875rem 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
@media (any-hover: hover) {
  .images-hero__item:hover {
    -webkit-box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 1.25rem rgba(0, 0, 0, 0.7);
  }
}
.images-hero__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.images-hero__item--1 {
  grid-row: span 2;
  max-width: 13.0625rem;
  max-height: 18.875rem;
  aspect-ratio: 209/302;
  align-self: end;
  -webkit-transform: translate(0, -0.3125rem);
      -ms-transform: translate(0, -0.3125rem);
          transform: translate(0, -0.3125rem);
}
@media (max-width: 75em) {
  .images-hero__item--1 {
    justify-self: center;
  }
}
@media (max-width: 40.625em) {
  .images-hero__item--1 {
    -ms-flex-item-align: center;
        align-self: center;
  }
}
.images-hero__item--2 {
  max-width: 8.9375rem;
  max-height: 13.375rem;
  aspect-ratio: 143/214;
  -webkit-transform: translate(0.4375rem, 0);
      -ms-transform: translate(0.4375rem, 0);
          transform: translate(0.4375rem, 0);
}
.images-hero__item--3 {
  max-width: 9.375rem;
  max-height: 14.25rem;
  aspect-ratio: 150/228;
  justify-self: end;
  -webkit-transform: translate(0, 7.5rem);
      -ms-transform: translate(0, 7.5rem);
          transform: translate(0, 7.5rem);
}
@media (max-width: 75em) {
  .images-hero__item--3 {
    justify-self: center;
  }
}
@media (max-width: 23.4375em) {
  .images-hero__item--3 {
    -webkit-transform: translate(0, 5rem);
        -ms-transform: translate(0, 5rem);
            transform: translate(0, 5rem);
  }
}
.images-hero__item--4 {
  grid-row: span 2;
  max-width: 6.75rem;
  max-height: 10.1875rem;
  aspect-ratio: 108/163;
  align-self: end;
  justify-self: end;
  -webkit-transform: translate(0, 0.3125rem);
      -ms-transform: translate(0, 0.3125rem);
          transform: translate(0, 0.3125rem);
}
@media (max-width: 29.6875em) {
  .images-hero__item--4 {
    -webkit-transform: translate(-0.3125rem, 1.25rem);
        -ms-transform: translate(-0.3125rem, 1.25rem);
            transform: translate(-0.3125rem, 1.25rem);
  }
}

.features__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 4.375rem;
     -moz-column-gap: 4.375rem;
          column-gap: 4.375rem;
  row-gap: 2.5rem;
}
@media (max-width: 65.625em) {
  .features__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.features__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 17.5rem;
          flex: 0 0 17.5rem;
}

.item-features > * {
  margin-bottom: 1.25rem;
  text-align: center;
}
.item-features__icon {
  margin: 0 auto;
  width: 6.375rem;
  height: 6.375rem;
  background-color: #4475f2;
  border-radius: 1.625rem;
  -webkit-box-shadow: 0rem 1.875rem 3.75rem 0rem rgba(71, 74, 87, 0.25);
          box-shadow: 0rem 1.875rem 3.75rem 0rem rgba(71, 74, 87, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.25rem;
}
@media (max-width: 29.6875em) {
  .item-features__icon {
    width: 5rem;
    height: 5rem;
  }
}
.item-features__icon img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 2.8125rem;
  height: 2.8125rem;
}
@media (max-width: 29.6875em) {
  .item-features__icon img {
    width: 2.1875rem;
    height: 2.1875rem;
  }
}
.item-features__title {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 0.03rem;
  margin-bottom: 1.75rem;
}
.item-features__text {
  color: var(--Desc, #5e6282);
  font-weight: 500;
  line-height: 1.87;
  letter-spacing: 0.02rem;
}
.item-features > *:last-child {
  margin-bottom: 0rem;
}

.services__items {
  display: grid;
  grid-template-columns: 1fr;
}
@media (min-width: 76.875em) {
  .services__items {
    gap: 8.75rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (gap: clamp( 3.125rem , 1.146978022rem  +  9.8901098901vw , 8.75rem )) {
    .services__items {
      gap: clamp( 3.125rem , 1.146978022rem  +  9.8901098901vw , 8.75rem );
    }
  }
  @supports not (gap: clamp( 3.125rem , 1.146978022rem  +  9.8901098901vw , 8.75rem )) {
    .services__items {
      gap: calc(3.125rem + 5.625 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .services__items {
    gap: 3.125rem;
  }
}
.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}
@media (min-width: 62em) {
  .services__item:nth-child(odd) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}
@media (max-width: 61.99875em) {
  .services__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 2.5rem;
  }
}
@media (max-width: 61.99875em) and (max-width: 48em) {
  .services__item {
    row-gap: 1.875rem;
  }
}
.services__image {
  max-width: 37.5rem;
  max-height: 25rem;
  aspect-ratio: 600/400;
  border-radius: 0.625rem;
  -webkit-box-shadow: 0rem 1.875rem 3.75rem 0rem rgba(71, 74, 87, 0.25);
          box-shadow: 0rem 1.875rem 3.75rem 0rem rgba(71, 74, 87, 0.25);
  overflow: hidden;
}
.services__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-services {
  max-width: 26.25rem;
}
@media (max-width: 61.99875em) {
  .content-services {
    max-width: 43.75rem;
    text-align: center;
  }
}
.content-services__title {
  color: #000;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.04rem;
}
.content-services__title:not(:last-child) {
  margin-bottom: 2.5rem;
}
@media (max-width: 48em) {
  .content-services__title:not(:last-child) {
    margin-bottom: 1.5625rem;
  }
}
.content-services__title span {
  color: #4475f2;
}
@media (max-width: 48em) {
  .content-services__title {
    font-size: 1.6875rem;
  }
}
.content-services__text {
  font-weight: 500;
  line-height: 1.87;
  letter-spacing: 0.02rem;
}
.content-services__text p:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.reviews__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3.1875rem;
     -moz-column-gap: 3.1875rem;
          column-gap: 3.1875rem;
  row-gap: 2.5rem;
}
@media (max-width: 68.6875em) {
  .reviews__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.reviews__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 22.875rem;
          flex: 0 1 22.875rem;
}
@media (max-width: 35.9375em) {
  .reviews__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 22.875rem;
            flex: 1 1 22.875rem;
  }
}

.item-reviews {
  border: 0.0625rem solid #dedede;
  background: #fff;
  -webkit-box-shadow: 0 6.25rem 5rem 0 rgba(0, 0, 0, 0.07), 0 2.611125rem 2.088875rem 0 rgba(0, 0, 0, 0.05), 0 1.396rem 1.1168125rem 0 rgba(0, 0, 0, 0.04), 0 0.782625rem 0.6260625rem 0 rgba(0, 0, 0, 0.04), 0 0.415625rem 0.3325rem 0 rgba(0, 0, 0, 0.03), 0 0.1729375rem 0.138375rem 0 rgba(0, 0, 0, 0.02);
          box-shadow: 0 6.25rem 5rem 0 rgba(0, 0, 0, 0.07), 0 2.611125rem 2.088875rem 0 rgba(0, 0, 0, 0.05), 0 1.396rem 1.1168125rem 0 rgba(0, 0, 0, 0.04), 0 0.782625rem 0.6260625rem 0 rgba(0, 0, 0, 0.04), 0 0.415625rem 0.3325rem 0 rgba(0, 0, 0, 0.03), 0 0.1729375rem 0.138375rem 0 rgba(0, 0, 0, 0.02);
  padding: 2.5rem 3.625rem 2.875rem 3.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 500;
  line-height: 1.87;
  letter-spacing: 0.0125rem;
}
.item-reviews > * {
  margin-bottom: 1.5625rem;
}
@media (max-width: 26.5625em) {
  .item-reviews {
    padding: 1.25rem 0.9375rem 1.25rem 0.9375rem;
  }
}
.item-reviews__image {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 9.375rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 0.0625rem solid #bdbdbd;
  overflow: hidden;
  margin-bottom: 1.875rem;
}
.item-reviews__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-reviews__text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.item-reviews__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}
.item-reviews__name {
  color: #23a6f0;
  margin-bottom: 0.9375rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .item-reviews__name:hover {
    color: #4737ff;
  }
}
.item-reviews__position {
  color: #181e4b;
}
.item-reviews > *:last-child {
  margin-bottom: 0;
}

.location__map {
  width: 100%;
  max-height: 25.3125rem;
  -webkit-box-shadow: 0rem 1.875rem 3.75rem 0rem rgba(71, 74, 87, 0.25);
          box-shadow: 0rem 1.875rem 3.75rem 0rem rgba(71, 74, 87, 0.25);
}

@media (min-width: 76.875em) {
  .footer__container {
    margin-bottom: 5.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 76.875em) {
  @supports (margin-bottom: clamp( 1.25rem , -0.3983516484rem  +  8.2417582418vw , 5.9375rem )) {
    .footer__container {
      margin-bottom: clamp( 1.25rem , -0.3983516484rem  +  8.2417582418vw , 5.9375rem );
    }
  }
  @supports not (margin-bottom: clamp( 1.25rem , -0.3983516484rem  +  8.2417582418vw , 5.9375rem )) {
    .footer__container {
      margin-bottom: calc(1.25rem + 4.6875 * (100vw - 20rem) / 56.875);
    }
  }
}
@media (max-width: 20em) {
  .footer__container {
    margin-bottom: 1.25rem;
  }
}
.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4.375rem;
     -moz-column-gap: 4.375rem;
          column-gap: 4.375rem;
  row-gap: 3.4375rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer__bottom {
  padding-block: 3.125rem;
  background-color: #4475f2;
  text-align: center;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
}

.item-footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15.5rem;
          flex: 0 0 15.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5625rem;
}
.item-footer__label {
  color: #000;
  font-size: 1.5rem;
  font-weight: 700;
}
.item-footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5625rem;
}
.item-footer__logo img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 5.8125rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
}
.item-footer__logo span {
  color: #000;
  font-size: 2.8125rem;
  font-weight: 700;
}
.item-footer__slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.8125rem;
  color: #000;
  font-size: 1.25rem;
  font-weight: 500;
}

.social {
  height: 5.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.0625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.social__item svg {
  width: 2.5rem;
  height: 2.5rem;
}
.social__item svg path {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .social__item:hover svg path {
    stroke: #4737ff;
  }
}