@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,500&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

address {
  font-style: normal;
}

table {
  border-collapse: collapse;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

label {
  display: inline-block;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: #9c9c9c;
  background-color: #0d0d11;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 81.875rem;
  padding-inline: 0.9375rem;
  margin: 0 auto;
}

.button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: 0.125rem;
  border-radius: 3.125rem;
  background: #3d96f4;
  padding: 1rem 1.84375rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (any-hover: hover) {
  .button:hover {
    background-color: #0f6ccf;
  }
}
.button--grey {
  background-color: rgba(129, 129, 139, 0.2);
}
@media (any-hover: hover) {
  .button--grey:hover {
    background-color: rgba(129, 129, 139, 0.5);
  }
}

.title {
  color: #fff;
  font-weight: 500;
  line-height: 1.2;
}
@media (min-width: 81.875em) {
  .title {
    font-size: 3.2rem;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  @supports (font-size: clamp( 2.1875rem , 1.8602272727rem  +  1.6363636364vw , 3.2rem )) {
    .title {
      font-size: clamp( 2.1875rem , 1.8602272727rem  +  1.6363636364vw , 3.2rem );
    }
  }
  @supports not (font-size: clamp( 2.1875rem , 1.8602272727rem  +  1.6363636364vw , 3.2rem )) {
    .title {
      font-size: calc(2.1875rem + 1.0125 * (100vw - 20rem) / 61.875);
    }
  }
}
@media (max-width: 20em) {
  .title {
    font-size: 2.1875rem;
  }
}

.text {
  font-size: 1.125rem;
  font-weight: 300;
  line-height: 1.5;
}
@media (max-width: 61.99875em) {
  .text {
    font-size: 1rem;
  }
}
.text p:not(:last-child) {
  margin-bottom: 0.625rem;
}

.label {
  display: inline-block;
  font-size: 0.675rem;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  padding: 0.6875rem 1.1875rem;
  border-radius: 0.75rem;
  border: 0.0625rem solid rgba(129, 129, 139, 0.2);
}

.menu-open body {
  overflow: hidden;
}

.header {
  z-index: 50;
  top: -6.25rem;
  left: 0;
  width: 100%;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
.header.fixed {
  position: fixed;
  -webkit-transform: translateY(6.25rem);
      -ms-transform: translateY(6.25rem);
          transform: translateY(6.25rem);
  background-color: rgba(13, 13, 17, 0.8117647059);
}
.header.fixed .header__container {
  padding-block: 0.9375rem;
}
.header__container {
  padding-block: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}
@media (max-width: 61.99875em) {
  .header__container {
    padding-block: 0.9375rem;
    gap: 1.25rem;
  }
}
.header__logo {
  position: relative;
  z-index: 2;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.header__logo img:nth-child(1) {
  display: none;
}
@media (max-width: 61.99875em) {
  .header__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}
@media (min-width: 34.375em) {
  .header__logo img:nth-child(1) {
    display: block;
  }
  .header__logo img:nth-child(2) {
    display: none;
  }
}
.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header__cart {
  position: relative;
  z-index: 2;
}
.header__button {
  position: relative;
  z-index: 2;
}
@media (max-width: 26.5625em) {
  .header__button {
    padding: 0.875rem 1rem;
  }
}

@media (max-width: 47.99875em) {
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100dvh;
    background-color: #0d0d11;
    overflow-y: auto;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
  }
  .menu-open .menu {
    width: 100%;
  }
  .menu::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 5.125rem;
    background-color: #0d0d11;
    z-index: 2;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
    border-bottom: 0.125rem solid #3d96f4;
  }
  .menu-open .menu::before {
    width: 100%;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 2.1875rem;
     -moz-column-gap: 2.1875rem;
          column-gap: 2.1875rem;
  row-gap: 0.625rem;
}
@media (max-width: 61.99875em) {
  .menu__list {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}
@media (max-width: 47.99875em) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-padding-before: 6.25rem;
            padding-block-start: 6.25rem;
    -webkit-padding-after: 1.875rem;
            padding-block-end: 1.875rem;
    font-size: 2.1875rem;
  }
}
.menu__link {
  color: #fff;
  font-weight: 300;
  line-height: 1.6;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #3d96f4;
  }
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  color: #fff;
  letter-spacing: 0.06rem;
  position: relative;
}
@media (any-hover: hover) {
  .cart:hover {
    color: #3d96f4;
  }
}
@media (max-width: 26.5625em) {
  .cart {
    color: #3d96f4;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-margin-end: 0.4375rem;
            margin-inline-end: 0.4375rem;
  }
  .cart::before {
    content: "";
    position: absolute;
    width: 2.5rem;
    height: 3.125rem;
    -webkit-margin-before: -0.5rem;
            margin-block-start: -0.5rem;
    background: url(../img/icons/basket.svg) no-repeat;
  }
}
.cart__label {
  display: none;
}
@media (min-width: 26.5625em) {
  .cart__label {
    display: block;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.6;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
  }
}
.cart__quantity {
  font-size: 0.875rem;
  font-weight: 500;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (min-width: 26.5625em) {
  .cart__quantity {
    border-radius: 1.875rem;
    background-color: rgba(129, 129, 139, 0.3);
    padding: 0.625rem;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    z-index: 5;
  }
}
@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}
@media (max-width: 47.99875em) {
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .menu-open .icon-menu span {
    width: 0;
  }
  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

.page__hero {
  -webkit-padding-before: 2.5rem;
          padding-block-start: 2.5rem;
}
@media (min-width: 81.875em) {
  .page__hero {
    -webkit-padding-after: 6.25rem;
            padding-block-end: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  @supports (padding-block-end: clamp( 3.125rem , 2.1148989899rem  +  5.0505050505vw , 6.25rem )) {
    .page__hero {
      -webkit-padding-after: clamp( 3.125rem , 2.1148989899rem  +  5.0505050505vw , 6.25rem );
              padding-block-end: clamp( 3.125rem , 2.1148989899rem  +  5.0505050505vw , 6.25rem );
    }
  }
  @supports not (padding-block-end: clamp( 3.125rem , 2.1148989899rem  +  5.0505050505vw , 6.25rem )) {
    .page__hero {
      -webkit-padding-after: calc(3.125rem + 3.125 * (100vw - 20rem) / 61.875);
              padding-block-end: calc(3.125rem + 3.125 * (100vw - 20rem) / 61.875);
    }
  }
}
@media (max-width: 20em) {
  .page__hero {
    -webkit-padding-after: 3.125rem;
            padding-block-end: 3.125rem;
  }
}
@media (min-width: 81.875em) {
  .page__partners {
    -webkit-padding-before: 5.625rem;
            padding-block-start: 5.625rem;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  @supports (padding-block-start: clamp( 2.8125rem , 1.9034090909rem  +  4.5454545455vw , 5.625rem )) {
    .page__partners {
      -webkit-padding-before: clamp( 2.8125rem , 1.9034090909rem  +  4.5454545455vw , 5.625rem );
              padding-block-start: clamp( 2.8125rem , 1.9034090909rem  +  4.5454545455vw , 5.625rem );
    }
  }
  @supports not (padding-block-start: clamp( 2.8125rem , 1.9034090909rem  +  4.5454545455vw , 5.625rem )) {
    .page__partners {
      -webkit-padding-before: calc(2.8125rem + 2.8125 * (100vw - 20rem) / 61.875);
              padding-block-start: calc(2.8125rem + 2.8125 * (100vw - 20rem) / 61.875);
    }
  }
}
@media (max-width: 20em) {
  .page__partners {
    -webkit-padding-before: 2.8125rem;
            padding-block-start: 2.8125rem;
  }
}
@media (min-width: 81.875em) {
  .page__partners {
    -webkit-padding-after: 4.0625rem;
            padding-block-end: 4.0625rem;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  @supports (padding-block-end: clamp( 2.1875rem , 1.5814393939rem  +  3.0303030303vw , 4.0625rem )) {
    .page__partners {
      -webkit-padding-after: clamp( 2.1875rem , 1.5814393939rem  +  3.0303030303vw , 4.0625rem );
              padding-block-end: clamp( 2.1875rem , 1.5814393939rem  +  3.0303030303vw , 4.0625rem );
    }
  }
  @supports not (padding-block-end: clamp( 2.1875rem , 1.5814393939rem  +  3.0303030303vw , 4.0625rem )) {
    .page__partners {
      -webkit-padding-after: calc(2.1875rem + 1.875 * (100vw - 20rem) / 61.875);
              padding-block-end: calc(2.1875rem + 1.875 * (100vw - 20rem) / 61.875);
    }
  }
}
@media (max-width: 20em) {
  .page__partners {
    -webkit-padding-after: 2.1875rem;
            padding-block-end: 2.1875rem;
  }
}
@media (min-width: 81.875em) {
  .page__services {
    -webkit-padding-before: 4.6875rem;
            padding-block-start: 4.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  @supports (padding-block-start: clamp( 2.1875rem , 1.3794191919rem  +  4.0404040404vw , 4.6875rem )) {
    .page__services {
      -webkit-padding-before: clamp( 2.1875rem , 1.3794191919rem  +  4.0404040404vw , 4.6875rem );
              padding-block-start: clamp( 2.1875rem , 1.3794191919rem  +  4.0404040404vw , 4.6875rem );
    }
  }
  @supports not (padding-block-start: clamp( 2.1875rem , 1.3794191919rem  +  4.0404040404vw , 4.6875rem )) {
    .page__services {
      -webkit-padding-before: calc(2.1875rem + 2.5 * (100vw - 20rem) / 61.875);
              padding-block-start: calc(2.1875rem + 2.5 * (100vw - 20rem) / 61.875);
    }
  }
}
@media (max-width: 20em) {
  .page__services {
    -webkit-padding-before: 2.1875rem;
            padding-block-start: 2.1875rem;
  }
}
@media (min-width: 81.875em) {
  .page__services {
    -webkit-padding-after: 5.625rem;
            padding-block-end: 5.625rem;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  @supports (padding-block-end: clamp( 2.8125rem , 1.9034090909rem  +  4.5454545455vw , 5.625rem )) {
    .page__services {
      -webkit-padding-after: clamp( 2.8125rem , 1.9034090909rem  +  4.5454545455vw , 5.625rem );
              padding-block-end: clamp( 2.8125rem , 1.9034090909rem  +  4.5454545455vw , 5.625rem );
    }
  }
  @supports not (padding-block-end: clamp( 2.8125rem , 1.9034090909rem  +  4.5454545455vw , 5.625rem )) {
    .page__services {
      -webkit-padding-after: calc(2.8125rem + 2.8125 * (100vw - 20rem) / 61.875);
              padding-block-end: calc(2.8125rem + 2.8125 * (100vw - 20rem) / 61.875);
    }
  }
}
@media (max-width: 20em) {
  .page__services {
    -webkit-padding-after: 2.8125rem;
            padding-block-end: 2.8125rem;
  }
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
}
@media (max-width: 47.99875em) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 3.125rem;
    text-align: center;
  }
}
.hero__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      align-self: center;
}
.hero__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.content-hero > * {
  margin-bottom: 1.75rem;
}
.content-hero__title {
  position: relative;
}
@media (min-width: 48em) {
  .content-hero__title {
    max-width: 31.625rem;
  }
}
.content-hero__title::before {
  position: absolute;
  content: "";
  top: -0.9375rem;
  left: -1.875rem;
  width: 7.625rem;
  height: 7.625rem;
  background: url(../img/icons/hero-decor.svg);
}
.content-hero__text {
  margin-bottom: 2.0625rem;
}
@media (min-width: 48em) {
  .content-hero__text {
    max-width: 30.6875rem;
  }
}
.content-hero__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 61.99875em) and (min-width: 48em) {
  .content-hero__actions {
    gap: 0.9375rem;
  }
}
@media (max-width: 47.99875em) {
  .content-hero__actions {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 26.5625em) {
  .content-hero__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
  }
}
.content-hero__button {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (max-width: 26.5625em) {
  .content-hero__button {
    width: 100%;
  }
}
.content-hero > *:last-child {
  margin-bottom: 0;
}

.images-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (min-width: 81.875em) {
  .images-hero {
    gap: 3.6875rem;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  @supports (gap: clamp( 0.9375rem , 0.0486111111rem  +  4.4444444444vw , 3.6875rem )) {
    .images-hero {
      gap: clamp( 0.9375rem , 0.0486111111rem  +  4.4444444444vw , 3.6875rem );
    }
  }
  @supports not (gap: clamp( 0.9375rem , 0.0486111111rem  +  4.4444444444vw , 3.6875rem )) {
    .images-hero {
      gap: calc(0.9375rem + 2.75 * (100vw - 20rem) / 61.875);
    }
  }
}
@media (max-width: 20em) {
  .images-hero {
    gap: 0.9375rem;
  }
}
.images-hero__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 81.875em) {
  .images-hero__column {
    gap: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 81.875em) {
  @supports (gap: clamp( 0.625rem , 0.1805555556rem  +  2.2222222222vw , 2rem )) {
    .images-hero__column {
      gap: clamp( 0.625rem , 0.1805555556rem  +  2.2222222222vw , 2rem );
    }
  }
  @supports not (gap: clamp( 0.625rem , 0.1805555556rem  +  2.2222222222vw , 2rem )) {
    .images-hero__column {
      gap: calc(0.625rem + 1.375 * (100vw - 20rem) / 61.875);
    }
  }
}
@media (max-width: 20em) {
  .images-hero__column {
    gap: 0.625rem;
  }
}
.images-hero__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.images-hero__image--1, .images-hero__image--4 {
  max-width: 15.119125rem;
  aspect-ratio: 241.906/423.359;
  border-radius: 23.375rem;
  overflow: hidden;
}
.images-hero__image--2, .images-hero__image--3 {
  max-width: 15.119125rem;
  aspect-ratio: 1;
  overflow: hidden;
}
.images-hero__image--2 {
  border-radius: 15.119125rem 15.119125rem 0rem 15.119125rem;
}
.images-hero__image--3 {
  border-radius: 15.119125rem 0rem 15.119125rem 15.119125rem;
}

.partners__title {
  color: #fff;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}
.partners__title:not(:last-child) {
  margin-bottom: 1.5rem;
}
.partners__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.125rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 61.99875em) {
  .services__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 62em) {
  .services__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 32rem;
            flex: 0 1 32rem;
    -ms-flex-item-align: center;
        align-self: center;
  }
}
@media (max-width: 47.99875em) {
  .services__content {
    text-align: center;
  }
}
.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
@media (min-width: 62em) {
  .services__items {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 41.5rem;
            flex: 0 1 41.5rem;
  }
}
@media (max-width: 47.99875em) {
  .services__items {
    gap: 1.25rem;
  }
}
@media (max-width: 29.6875em) {
  .services__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.services__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
@media (max-width: 47.99875em) {
  .services__column {
    gap: 1.25rem;
  }
}
@media (min-width: 29.6875em) {
  .services__column:first-child {
    -webkit-padding-before: 3rem;
            padding-block-start: 3rem;
  }
}
.content-services > * {
  margin-bottom: 1.25rem;
}
.content-services__text {
  margin-bottom: 2.0625rem;
}
@media (max-width: 26.5625em) {
  .content-services__button {
    width: 100%;
    text-align: center;
  }
}
.content-services > *:last-child {
  margin-bottom: 0;
}

.item-sevices {
  border-radius: 1.875rem;
  background-color: rgba(129, 129, 139, 0.1);
  padding: 2.1875rem 1.5625rem;
}
@media (max-width: 47.99875em) {
  .item-sevices {
    padding: 1.25rem 0.9375rem;
  }
}
.item-sevices > * {
  margin-bottom: 0.9375rem;
}
.item-sevices__title {
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.4;
}
.item-sevices__text {
  color: #81818b;
  font-weight: 300;
  line-height: 1.5;
}
.item-sevices__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}
.item-sevices > *:last-child {
  margin-bottom: 0;
}