@font-face {
  font-family: icons;
  font-display: swap;
  src: url(../fonts/icons.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url(../fonts/ProximaNova-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url(../fonts/ProximaNova-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: ProximaNova;
  font-display: swap;
  src: url(../fonts/ProximaNova-Semibold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal
}
[class*=_icon-]::before {
  font-family: icons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
._icon-catalog-close:before {
  content: ""
}
._icon-arrow:before {
  content: ""
}
._icon-call:before {
  content: ""
}
._icon-cart:before {
  content: ""
}
._icon-catalog:before {
  content: ""
}
._icon-check:before {
  content: ""
}
._icon-cross:before {
  content: ""
}
._icon-favorite:before {
  content: ""
}
._icon-filter:before {
  content: ""
}
._icon-in-stock:before {
  content: ""
}
._icon-link-arrow:before {
  content: ""
}
._icon-location:before {
  content: ""
}
._icon-map:before {
  content: ""
}
._icon-more-arrow:before {
  content: ""
}
._icon-more-circle-arrow:before {
  content: ""
}
._icon-more-circle-arrows:before {
  content: ""
}
._icon-part:before {
  content: ""
}
._icon-promo:before {
  content: ""
}
._icon-question:before {
  content: ""
}
._icon-r-answer:before {
  content: ""
}
._icon-r-answers:before {
  content: ""
}
._icon-r-arrow:before {
  content: ""
}
._icon-r-close:before {
  content: ""
}
._icon-r-like:before {
  content: ""
}
._icon-r-reviews:before {
  content: ""
}
._icon-r-write:before {
  content: ""
}
._icon-sale:before {
  content: ""
}
._icon-schedule:before {
  content: ""
}
._icon-search:before {
  content: ""
}
._icon-sort:before {
  content: ""
}
._icon-star-active:before {
  content: ""
}
._icon-tel:before {
  content: ""
}
._icon-way:before {
  content: ""
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #2b2929;
  line-height: 1;
  font-family: ProximaNova,sans-serif;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: ProximaNova,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
address {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  color: inherit
}
details {
  display: block;
  margin: 0;
  padding: 0
}
summary {
  display: block;
  cursor: pointer;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: 0
}
body {
  position: relative;
  background-color: #f8f8f8
}
.menu-open body {
  overflow: hidden
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.loaded body {
  opacity: 1;
  transition: opacity .3s
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
.my-scroll {
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #ffbc57 #fff
}
.my-scroll::-webkit-scrollbar {
  width: 12px
}
.my-scroll::-webkit-scrollbar-track {
  background: #fff
}
.my-scroll::-webkit-scrollbar-thumb {
  background-color: #ffbc57;
  border-radius: 10px;
  border: 3px solid #fff
}
[class*=__container] {
  max-width: 82.5rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,80.625rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.item-cart .quantity {
  width: 7.5rem;
  height: 50px;
  display: flex;
  border-radius: .5rem;
  border: .0625rem solid #b1b1b1;
  background-color: #f8f8f8;
  padding: .8125rem 1.25rem
}
.item-cart .quantity__button {
  flex: 0 0 15px;
  position: relative;
  cursor: pointer
}
.item-cart .quantity__button::after,
.item-cart .quantity__button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all .3s ease 0s;
  margin: 0 0 0 -5px;
  background-color: #535353;
  width: 11px;
  height: 1.5px
}
.item-cart .quantity__button--plus::before {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg)
}
.item-cart .quantity__input {
  flex: 1 1 auto
}
.item-cart .quantity__input input {
  height: 100%;
  width: 100%;
  text-align: center;
  color: #2b2929;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4
}
.quantity {
  width: 88px;
  height: 40px;
  display: flex;
  border: 1px solid rgba(166,166,166,.45)
}
.quantity__button {
  flex: 0 0 30px;
  position: relative;
  cursor: pointer
}
.quantity__button::after,
.quantity__button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all .3s ease 0s;
  margin: 0 0 0 -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px
}
.quantity__button--plus::before {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg)
}
.quantity__input {
  flex: 1 1 auto
}
.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center
}
.menu__list {
  display: flex;
  -webkit-column-gap: 1.875rem;
  -moz-column-gap: 1.875rem;
  column-gap: 1.875rem;
  row-gap: .125rem;
  align-items: center;
  flex-wrap: wrap
}
.menu__link {
  color: #535353;
  line-height: 1.87;
  transition: color .3s
}
.icon-menu {
  display: none
}
body::after {
  content: "";
  background-color: rgba(0,0,0,.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .8s ease 0s;
  pointer-events: none;
  z-index: 149
}
.popup-show body::after {
  opacity: 1
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  transition: visibility .8s ease 0s;
  visibility: hidden;
  pointer-events: none
}
.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto
}
.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  transform: scale(1)
}
.popup__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}
.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: -webkit-transform .3s ease 0s;
  transition: transform .3s ease 0s;
  transition: transform .3s ease 0s,-webkit-transform .3s ease 0s;
  width: 100%;
  padding: 1.875rem;
  max-width: 32.5rem;
  border-radius: .5rem;
  background-color: #fff;
  box-shadow: -.1875rem .25rem .9375rem 0 rgba(0,0,0,.06)
}
.lock .popup__content {
  visibility: visible
}
.popup__items:not(:last-child) {
  margin-bottom: 2.3125rem
}
.header-popup {
  display: flex;
  justify-content: space-between;
  gap: 1.875rem;
  align-items: flex-start
}
.header-popup:not(:last-child) {
  margin-bottom: 2.5rem
}
.header-popup__title {
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 1.3
}
.header-popup__title span {
  color: #ffbc57
}
.header-popup__close {
  width: 1.5rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center
}
.header-popup__close::before {
  flex-shrink: 0;
  transition: color .3s
}
.bottom-popup__button {
  width: 100%;
  height: 3.125rem
}
.bottom-popup__button:not(:last-child) {
  margin-bottom: 1.25rem
}
.menu-footer {
  display: grid;
  gap: 15px
}
.menu-footer__item {
  font-size: 1.25rem
}
.menu-footer__title {
  width: 100%;
  cursor: default;
  text-align: left;
  border: 1px solid #eee;
  padding: .625rem .9375rem;
  border-radius: .3125rem;
  position: relative;
  list-style: none
}
.menu-footer__title::-webkit-details-marker,
.menu-footer__title::marker {
  display: none
}
._spoller-init .menu-footer__title {
  cursor: pointer
}
._spoller-init .menu-footer__title::after,
._spoller-init .menu-footer__title::before {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  background-color: #000;
  height: 2px;
  width: 15px;
  transition: -webkit-transform .5s ease 0s;
  transition: transform .5s ease 0s;
  transition: transform .5s ease 0s,-webkit-transform .5s ease 0s
}
._spoller-init .menu-footer__title::before {
  -webkit-transform: translate(-75%,-50%) rotate(40deg);
  transform: translate(-75%,-50%) rotate(40deg)
}
._spoller-init .menu-footer__title::after {
  -webkit-transform: translate(0,-50%) rotate(-40deg);
  transform: translate(0,-50%) rotate(-40deg)
}
._spoller-init .menu-footer__title._spoller-active::before {
  -webkit-transform: translateX(-75%) rotate(-40deg);
  transform: translateX(-75%) rotate(-40deg)
}
._spoller-init .menu-footer__title._spoller-active::after {
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg)
}
.menu-footer__body {
  padding: 1.25rem;
  border-radius: .3125rem;
  border: 1px solid #eee
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.button {
  padding: .3125rem;
  border-radius: .5rem;
  background-color: #ffbc57;
  color: #fff;
  font-size: 1.1875rem;
  font-weight: 600;
  line-height: 1.26;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .3s
}
.button--border {
  background-color: #fff;
  color: #ffbc57;
  border: .125rem solid #ffbc57;
  transition: color .3s,background-color .3s
}
.price:has(.price__sale) .price__main {
  color: #e03d3d;
  font-size: .9375rem;
  line-height: 1.46;
  text-decoration: line-through
}
.price__sale {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4
}
.price__main {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4
}
.item-cart {
  display: grid;
  grid-template-columns: auto 1fr auto;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  row-gap: 1rem
}
.item-cart:not(:first-child) {
  -webkit-padding-before: 1.875rem;
  padding-block-start: 1.875rem;
  border-top: .125rem solid rgba(197,197,197,.3)
}
.item-cart:not(:last-child) {
  -webkit-padding-after: 1.875rem;
  padding-block-end: 1.875rem
}
.item-cart__image {
  border-radius: .5rem;
  max-width: 7.5rem;
  aspect-ratio: 120/100;
  overflow: hidden
}
.item-cart__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s;
  will-change: transform
}
.item-cart__info>*:not(:last-child) {
  margin-bottom: .3125rem
}
.item-cart__size {
  color: #535353;
  font-size: .8125rem;
  font-weight: 300;
  line-height: 1.69
}
.item-cart__title {
  font-size: 1.1875rem;
  font-weight: 600;
  line-height: 1.26;
  transition: color .3s
}
.item-cart__in-stock {
  font-size: .8125rem;
  font-weight: 300;
  line-height: 1.69;
  display: flex;
  align-items: center;
  gap: .3125rem
}
.item-cart__in-stock::before {
  flex-shrink: 0;
  font-size: 1.25rem;
  color: #82b09d
}
.item-cart__delete {
  width: 1.3125rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: .125rem solid #ffbc57;
  transition: background-color .3s,color .3s
}
.item-cart__delete::before {
  flex-shrink: 0;
  font-size: .5rem
}
.item-cart__price {
  grid-column: span 2;
  display: flex;
  -webkit-column-gap: 1.25rem;
  -moz-column-gap: 1.25rem;
  column-gap: 1.25rem;
  row-gap: .125rem;
  align-items: center;
  flex-wrap: wrap
}
.header {
  position: relative
}
.header._header-scroll {
  position: fixed;
  top: -200%;
  left: 0;
  width: 100%;
  z-index: 50
}
.header._header-show {
  top: 0;
  transition: top .8s ease 0s
}
.header::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(27,26,26,.8);
  backdrop-filter: blur(2.5px);
  opacity: 0;
  visibility: hidden
}
.catalog-open .header::before {
  opacity: 1;
  visibility: visible
}
.top-header {
  position: relative;
  z-index: 6;
  background-color: #f8f8f8
}
.top-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem;
  padding-block: .9375rem
}
.top-header__actions {
  position: relative;
  z-index: 3;
  display: flex;
  gap: 1.875rem;
  align-items: center
}
.social-header {
  display: flex;
  align-items: center;
  gap: 1.25rem
}
.social-header__label {
  display: none
}
.social-header__items {
  display: flex;
  align-items: center;
  gap: .625rem;
  flex-wrap: wrap
}
.social-header__item img {
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s;
  will-change: transform
}
.lang-header {
  position: relative
}
.lang-header__current {
  font-size: 1.1875rem;
  line-height: 1.36;
  color: #535353;
  font-weight: 600;
  position: relative;
  z-index: 11;
  transition: color .3s;
  display: flex;
  flex-direction: row-reverse;
  gap: .4375rem
}
.lang-header__current::before {
  margin-top: .3125rem;
  flex-shrink: 0;
  font-size: .6875rem;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s,-webkit-transform .3s
}
.lang-open .lang-header__current::before {
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg)
}
.lang-header__list {
  position: absolute;
  z-index: 10;
  top: 2.125rem;
  left: 0;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: visibility .3s,opacity .3s
}
.lang-open .lang-header__list {
  opacity: 1;
  visibility: visible;
  pointer-events: all
}
.lang-header__list::before {
  content: "";
  position: absolute;
  z-index: 10;
  top: -2.4375rem;
  left: -.3125rem;
  width: calc(100% + .625rem);
  height: calc(100% + 2.75rem);
  border-radius: .5rem;
  background-color: #fff;
  box-shadow: 0 0 .9375rem rgba(0,0,0,.12)
}
.lang-header__item:not(:last-child) {
  margin-bottom: .3125rem
}
.lang-header__link {
  font-size: 1.1875rem;
  line-height: 1.36;
  color: #535353;
  font-weight: 600;
  position: relative;
  z-index: 10;
  transition: color .3s
}
.main-header {
  position: relative;
  z-index: 5;
  background-color: #fff
}
.main-header__container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.875rem;
  padding-block: 1.5625rem
}
.main-header__logo {
  position: relative;
  z-index: 5;
  flex-shrink: 0
}
.main-header__search {
  flex-grow: 1
}
.items-catalog {
  position: absolute;
  z-index: 2;
  top: calc(100% + .625rem);
  left: .9375rem;
  width: 100%;
  block-size: calc(100dvh - var(--catalog-items-top));
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity .3s,visibility .3s
}
.catalog-open .items-catalog {
  opacity: 1;
  visibility: visible
}
.items-catalog__list {
  background-color: #fff
}
.item-catalog__title {
  padding: .625rem .9375rem .625rem 1.875rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  -webkit-column-gap: .9375rem;
  -moz-column-gap: .9375rem;
  column-gap: .9375rem;
  transition: color .3s
}
.item-catalog__title._spoller-active {
  background-color: #ffbc57
}
.item-catalog__icon {
  width: 2.5rem;
  aspect-ratio: 1
}
.item-catalog__link {
  justify-self: start;
  align-self: center;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4
}
.item-catalog__button {
  align-self: center;
  width: 1.5rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default
}
.item-catalog__button::before {
  font-size: .6875rem;
  color: #ffbc57;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transition: color .3s,-webkit-transform .3s;
  transition: color .3s,transform .3s;
  transition: color .3s,transform .3s,-webkit-transform .3s
}
.submenu-catalog__body {
  padding: 1.25rem 1.25rem 1.25rem 1.875rem
}
.submenu-catalog__item:not(:last-child) {
  margin-bottom: 1.25rem
}
.submenu-catalog__link {
  font-size: 1.1875rem;
  line-height: 1.2;
  transition: color .3s
}
.button-catalog {
  position: relative;
  z-index: 5;
  height: 3.125rem;
  border-radius: .5rem;
  background-color: #ffbc57;
  color: #fff;
  padding-inline: 1.25rem;
  display: flex;
  gap: .75rem;
  align-items: center;
  transition: background-color .3s
}
.button-catalog__icon {
  display: none
}
.button-catalog__text {
  font-size: 1.1875rem;
  font-weight: 600;
  line-height: 1.26
}
.search-header {
  position: relative;
  z-index: 5
}
.search-header__body {
  position: relative
}
.search-header__input {
  height: 3.125rem;
  border-radius: .5rem;
  border: .0625rem solid #b1b1b1;
  background-color: #fff;
  -webkit-padding-start: .9375rem;
  padding-inline-start: .9375rem;
  -webkit-padding-end: 3.75rem;
  padding-inline-end: 3.75rem
}
.search-header__input::-webkit-input-placeholder {
  color: #b1b1b1;
  line-height: 1.87
}
.search-header__input:-ms-input-placeholder {
  color: #b1b1b1;
  line-height: 1.87
}
.search-header__input::-ms-input-placeholder {
  color: #b1b1b1;
  line-height: 1.87
}
.search-header__input::placeholder {
  color: #b1b1b1;
  line-height: 1.87
}
.search-header__button {
  border-radius: 0 .5rem .5rem 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 3.3125rem;
  height: 3.125rem
}
.search-header__button::before {
  font-size: 1.4375rem
}
.contacts-header {
  position: relative;
  z-index: 6;
  display: flex;
  gap: .625rem;
  align-items: center
}
.contacts-header__button-phone {
  position: relative;
  z-index: 2;
  width: 3.125rem;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .3s,color .3s
}
.contacts-header__button-phone::before {
  flex-shrink: 0;
  font-size: 1.4375rem
}
.contacts-header__body {
  position: relative;
  z-index: 2;
  max-width: 8.5625rem
}
.contacts-header__text {
  color: #535353;
  font-size: .8125rem;
  font-weight: 300;
  line-height: 1.1
}
.contacts-header__text:not(:last-child) {
  margin-bottom: .3125rem
}
.contacts-header__main-phone {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
  white-space: nowrap
}
.contacts-header__button-arrow {
  display: none
}
.contacts-header__items {
  position: absolute;
  top: 3.4375rem;
  left: 3.75rem;
  width: 10.375rem;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity .3s,visibility .3s
}
.contacts-open .contacts-header__items {
  opacity: 1;
  visibility: visible
}
.contacts-header__items::before {
  content: "";
  position: absolute;
  top: -4.6875rem;
  left: -5rem;
  width: calc(100% + 6.5rem);
  height: calc(100% + 5.9375rem);
  border-radius: .5rem;
  background-color: #fff;
  box-shadow: 0 0 .9375rem 0 rgba(0,0,0,.12)
}
.contacts-header__item {
  position: relative;
  z-index: 2
}
.contacts-header__item:not(:last-child) {
  margin-bottom: .3125rem
}
.contacts-header__link {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4
}
.contacts-header__callback {
  text-align: left;
  position: relative;
  z-index: 2;
  color: #ffbc57;
  font-size: 1.1875rem;
  font-weight: 600;
  line-height: 1.2
}
.actions-header-main {
  position: relative;
  z-index: 4;
  display: flex;
  gap: 1.25rem;
  align-items: center
}
.actions-header-main__item {
  width: 3.125rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: .125rem solid #ffbc57;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color .3s,color .3s
}
.actions-header-main__item::before {
  flex-shrink: 0;
  font-size: 1.4375rem
}
.actions-header-main__item--search-button {
  display: none
}
.bottom-header {
  background-color: #fff
}
.bottom-header__container {
  display: flex;
  align-items: center;
  gap: 2.1875rem;
  justify-content: space-between;
  padding-block: 1.125rem
}
.bottom-header__info-menu {
  flex-shrink: 0
}
.menu-info-header__list {
  display: flex;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
  row-gap: .3125rem;
  align-items: center
}
.menu-info-header__link {
  color: #535353;
  font-size: 1.1875rem;
  font-weight: 600;
  line-height: 1.26;
  display: flex;
  align-items: center;
  gap: .5rem;
  transition: color .3s
}
.menu-info-header__link::before {
  font-size: 1.25rem;
  color: #ffbc57
}
.menu-header-bottom__list {
  display: flex;
  -webkit-column-gap: 2.5rem;
  -moz-column-gap: 2.5rem;
  column-gap: 2.5rem;
  row-gap: .3125rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center
}
.menu-header-bottom__link {
  color: #535353;
  font-size: 1.1875rem;
  font-weight: 600;
  line-height: 1.26;
  transition: color .3s
}
@media (min-width:73.75em) {
  .button-catalog__icon {
    display: block;
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
    margin-bottom: .125rem
  }
  .button-catalog__icon span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.25rem
  }
  .button-catalog__icon span:first-child {
    transition: opacity .5s,-webkit-transform .5s;
    transition: transform .5s,opacity .5s;
    transition: transform .5s,opacity .5s,-webkit-transform .5s
  }
  .catalog-open .button-catalog__icon span:first-child {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0
  }
  .button-catalog__icon span:last-child {
    transition: opacity .5s,-webkit-transform .5s;
    transition: transform .5s,opacity .5s;
    transition: transform .5s,opacity .5s,-webkit-transform .5s;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0
  }
  .catalog-open .button-catalog__icon span:last-child {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }
}
@media (min-width:80.0625em) {
  .main-header__catalog {
    margin-left: .25rem
  }
}
@media (min-width:48em) {
  .social-header__label {
    display: block;
    flex-shrink: 0;
    color: #535353;
    line-height: 1.87
  }
  .items-catalog__list {
    position: relative;
    padding-block: .5rem;
    border-radius: .5rem;
    width: 18.75rem;
    transition: border-radius .3s
  }
  .items-catalog__list::after {
    content: "";
    position: absolute;
    top: .5rem;
    right: 0;
    width: .3125rem;
    pointer-events: none;
    height: calc(100% - 1rem);
    background-color: #ffbc57;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s,visibility .3s
  }
  .submenu-open .items-catalog__list {
    border-radius: .5rem 0 0 .5rem
  }
  .submenu-open .items-catalog__list::after {
    opacity: 1;
    visibility: visible
  }
  .item-catalog.active {
    background-color: #ffbc57
  }
  .item-catalog.active .item-catalog__button::before {
    color: #000
  }
  .item-catalog.active .submenu-catalog {
    width: 19.875rem;
    left: 100%;
    pointer-events: all;
    visibility: visible;
    border-radius: 0 .5rem .5rem 0;
    opacity: 1
  }
  .submenu-catalog {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 17.5rem;
    height: 100%;
    border-radius: .5rem;
    background-color: #fff;
    overflow-y: auto;
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
    transition: left .5s,visibility .5s
  }
  .contacts-header__button-arrow {
    display: block;
    z-index: 2;
    position: relative;
    width: 1.5rem;
    aspect-ratio: 1;
    transition: color .3s,-webkit-transform .3s;
    transition: color .3s,transform .3s;
    transition: color .3s,transform .3s,-webkit-transform .3s
  }
  .contacts-open .contacts-header__button-arrow {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg)
  }
  .contacts-header__button-arrow span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
  }
  .contacts-header__button-arrow span::before {
    flex-shrink: 0;
    font-size: .6875rem
  }
  .contacts-header__button-arrow span:last-child {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0)
  }
}
@media (min-width:62em) {
  .bottom-header {
    border-top: .125rem solid #f8f8f8
  }
}
@media (max-width:80em) {
  .main-header__container {
    gap: 1.25rem
  }
  .menu-header-bottom__list {
    -webkit-column-gap: 1.5625rem;
    -moz-column-gap: 1.5625rem;
    column-gap: 1.5625rem
  }
}
@media (max-width:767.98px) {
  .submenu-catalog {
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-in-out
  }
  .submenu-catalog.open {
    max-height: auto
  }
}
@media (max-width:73.75em) {
  .menu__list {
    -webkit-column-gap: 1.25rem;
    -moz-column-gap: 1.25rem;
    column-gap: 1.25rem
  }
  .top-header__container {
    padding-block: .75rem
  }
  .main-header__container {
    padding-block: .75rem;
    gap: .9375rem
  }
  .main-header__logo img {
    width: 12.5rem
  }
  .actions-header-main {
    gap: .9375rem
  }
  .bottom-header__container {
    padding-block: .75rem
  }
  .menu-info-header__list {
    -webkit-column-gap: 1.5625rem;
    -moz-column-gap: 1.5625rem;
    column-gap: 1.5625rem
  }
  .menu-info-header__link {
    font-size: 1.0625rem
  }
  .menu-header-bottom__link {
    font-size: 1.0625rem
  }
}
@media (max-width:67.5em) {
  .menu-info-header__list {
    -webkit-column-gap: 1.125rem;
    -moz-column-gap: 1.125rem;
    column-gap: 1.125rem
  }
  .menu-header-bottom__list {
    -webkit-column-gap: 1.125rem;
    -moz-column-gap: 1.125rem;
    column-gap: 1.125rem
  }
}
@media (max-width:61.99875em) {
  .menu__body {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    background-color: #fff;
    padding: 4.6875rem .9375rem 1.875rem 1.875rem;
    transition: left .3s
  }
  .menu__body>*:not(:last-child) {
    margin-bottom: 2.1875rem
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 3.4375rem;
    background-color: #f8f8f8;
    left: -100%;
    top: 0;
    transition: left .3s
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__link {
    font-size: 1.25rem;
    font-weight: 600
  }
  .icon-menu {
    display: block;
    position: relative;
    z-index: 6;
    width: 1.875rem;
    height: 1.125rem
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #000
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .top-header {
    background-color: #fff
  }
  .top-header__container {
    padding-block: .4375rem
  }
  .main-header {
    border-top: .125rem solid #f8f8f8
  }
  .main-header__container {
    padding-block: .4375rem
  }
  .item-catalog__link {
    width: 100%
  }
  .bottom-header__container {
    flex-direction: column;
    padding: 0;
    align-items: flex-start
  }
  .menu-info-header__list {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem
  }
  .menu-info-header__link {
    font-size: 1.25rem
  }
  .menu-header-bottom__list {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem
  }
  .menu-header-bottom__link {
    font-size: 1.25rem
  }
}
@media (max-width:61.99875em)and (max-width:47.99875em) {
  .menu__body {
    padding: 5rem .9375rem 1.875rem .9375rem
  }
  .menu__body::before {
    height: 4.0625rem
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    right: 0
  }
}
@media ((max-width:61.99875em)) {
  .menu__list {
    flex-direction: column;
    align-items: flex-start;
    row-gap: .625rem
  }
}
@media (max-width:61.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:47.99875em) {
  .menu__list {
    align-items: center
  }
  .top-header__actions {
    flex-direction: column-reverse;
    gap: 1.25rem
  }
  .social-header__items {
    gap: 1.25rem
  }
  .social-header__item img {
    width: 2.5rem;
    aspect-ratio: 1
  }
  .items-catalog {
    width: 100%;
    left: 0
  }
  .item-catalog {
    background: #fff;
    box-shadow: 0 -2px 0 0 #e2e2e2 inset
  }
  .item-catalog__title {
    padding: .625rem .9375rem .625rem .9375rem
  }
  .item-catalog__button {
    width: 2.5rem
  }
  ._spoller-active .item-catalog__button::before {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    color: #000
  }
  .item-catalog__button::before {
    font-size: .9375rem;
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  .submenu-catalog {
    grid-column: span 3
  }
  .submenu-catalog__body {
    padding: 1.25rem
  }
  .bottom-header__container {
    align-items: center
  }
  .menu-info-header__list {
    align-items: center
  }
  .menu-header-bottom__list {
    align-items: center
  }
}
@media (max-width:34.375em) {
  .main-header__container {
    justify-content: space-between
  }
  .search-header {
    position: absolute;
    top: 100%;
    left: .9375rem;
    width: calc(100% - 1.875rem);
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s,visibility .3s
  }
  .search-open .search-header {
    opacity: 1;
    visibility: visible
  }
  .contacts-header__body {
    position: absolute;
    top: .3125rem;
    left: 3.75rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s,visibility .3s
  }
  .contacts-open .contacts-header__body {
    opacity: 1;
    visibility: visible
  }
  .actions-header-main__item--search-button {
    display: block;
    position: relative
  }
  .actions-header-main__item--search-button span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
  }
  .actions-header-main__item--search-button span:first-child::before {
    font-size: 1.4375rem;
    transition: opacity .3s,-webkit-transform .3s;
    transition: transform .3s,opacity .3s;
    transition: transform .3s,opacity .3s,-webkit-transform .3s
  }
  .search-open .actions-header-main__item--search-button span:first-child::before {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0
  }
  .actions-header-main__item--search-button span:last-child::before {
    font-size: 1.0625rem;
    transition: opacity .3s,-webkit-transform .3s;
    transition: transform .3s,opacity .3s;
    transition: transform .3s,opacity .3s,-webkit-transform .3s;
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0
  }
  .search-open .actions-header-main__item--search-button span:last-child::before {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
  }
}
@media (max-width:29.99875em) {
  .popup__content {
    padding: .9375rem
  }
  .popup__items:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .header-popup:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .bottom-popup__button:not(:last-child) {
    margin-bottom: .9375rem
  }
  .button {
    font-size: 1.0625rem
  }
  .item-cart {
    -webkit-column-gap: .75rem;
    -moz-column-gap: .75rem;
    column-gap: .75rem;
    row-gap: .625rem
  }
  .item-cart:not(:first-child) {
    -webkit-padding-before: .9375rem;
    padding-block-start: .9375rem
  }
  .item-cart:not(:last-child) {
    -webkit-padding-after: .9375rem;
    padding-block-end: .9375rem
  }
  .top-header__container {
    gap: .625rem
  }
  .main-header__container {
    padding-block: .625rem
  }
  .main-header__logo img {
    width: 11.25rem
  }
  .actions-header-main {
    gap: .625rem
  }
}
@media (max-width:26.5625em) {
  .item-cart__title {
    font-size: 1rem
  }
}
@media (max-width:61.99875em)and (min-width:48em) {
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    left: 0
  }
}
@media (any-hover:hover) {
  .item-cart .quantity__button:hover::after,
  .item-cart .quantity__button:hover::before {
    background-color: #ffbc57
  }
  .quantity__button:hover::after,
  .quantity__button:hover::before {
    background-color: rgba(0,0,0,.5)
  }
  .menu__link:hover {
    color: #ffbc57
  }
  .header-popup__close:hover::before {
    color: #ffbc57
  }
  .button:hover {
    background-color: #eda02d
  }
  .button--border:hover {
    background-color: #ffbc57;
    color: #fff
  }
  .item-cart__image img:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
  .item-cart__title:hover {
    color: #ffbc57
  }
  .item-cart__delete:hover {
    background-color: #ffbc57;
    color: #fff
  }
  .social-header__item:hover img {
    -webkit-transform: scale(1.15);
    transform: scale(1.15)
  }
  .lang-header:hover .lang-header__list {
    opacity: 1;
    visibility: visible;
    pointer-events: all
  }
  .lang-header:hover .lang-header__current::before {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg)
  }
  .lang-header__current:hover {
    color: #ffbc57
  }
  .lang-header__link:hover {
    color: #ffbc57
  }
  .items-catalog__list:hover {
    border-radius: .5rem 0 0 .5rem
  }
  .items-catalog__list:hover::after {
    opacity: 1;
    visibility: visible
  }
  .item-catalog:hover {
    background-color: #ffbc57
  }
  .item-catalog:hover .item-catalog__button::before {
    color: #000
  }
  .item-catalog:hover .submenu-catalog {
    width: 19.875rem;
    left: 100%;
    pointer-events: all;
    visibility: visible;
    border-radius: 0 .5rem .5rem 0;
    opacity: 1
  }
  .item-catalog__link:hover {
    text-decoration: underline
  }
  .submenu-catalog__link:hover {
    color: #ffbc57
  }
  .button-catalog:hover {
    background-color: #eda02d
  }
  .button-catalog:hover .button-catalog__icon span:first-child {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
  .contacts-header:hover .contacts-header__items {
    opacity: 1;
    visibility: visible;
    pointer-events: all
  }
  .contacts-header:hover .contacts-header__button-arrow {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    color: #ffbc57;
    cursor: default
  }
  .contacts-header:hover .contacts-header__button-phone {
    background-color: #ffbc57;
    color: #fff;
    cursor: default
  }
  .contacts-header__main-phone:hover {
    text-decoration: underline
  }
  .contacts-header__link:hover {
    text-decoration: underline
  }
  .contacts-header__callback:hover {
    text-decoration: underline
  }
  .actions-header-main__item:hover {
    background-color: #ffbc57;
    color: #fff
  }
  .menu-info-header__link:hover {
    color: #ffbc57
  }
  .menu-header-bottom__link:hover {
    color: #ffbc57
  }
}