@use 'sass:math';

// Шрифти

@import url('https://fonts.googleapis.com/css?family=Poppins:300,regular,500&display=swap');

// Локальні шрифти

// Обнулення

@import '_reset.scss';

// Міксіни

@import '_mixins.scss';

// Кольори

///////////////////////////////////////////////////////////////
// Налаштування адаптивної сітки

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1280;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

/////////////////////////////////////////////////////////////////////

body {
  font-family: 'Poppins', sans-serif;
  color: #9c9c9c;
  background-color: #0d0d11;
}

.wrapper {
  min-height: 100%;
  overflow: clip;

  display: flex;
  flex-direction: column;
}
.wrapper > main {
  flex-grow: 1;
}

[class*='__container'] {
  max-width: toRem($containerWidth);
  padding-inline: toRem(15);
  margin: 0 auto;
}

///////////////////////////////////////

// Компоненти

// Окремі компоненти

.button {
  flex-shrink: 0;
  color: #fff;
  font-size: toRem(14);
  font-weight: 500;
  line-height: 1.43;
  letter-spacing: toRem(2);
  border-radius: toRem(50);
  background: #3d96f4;
  padding: toRem(16) toRem(29.5);
  transition: background-color 0.3s;

  @media (any-hover: hover) {
    &:hover {
      background-color: #0f6ccf;
    }
  }

  &--grey {
    background-color: rgba(129, 129, 139, 0.2);

    @media (any-hover: hover) {
      &:hover {
        background-color: rgba(129, 129, 139, 0.5);
      }
    }
  }
}

.title {
  color: #fff;
  @include adaptiveValue(font-size, 51.2, 35);
  font-weight: 500;
  line-height: 1.2;
}

.text {
  font-size: toRem(18);
  font-weight: 300;
  line-height: 1.5;

  @media (max-width: toEm(991.98)) {
    font-size: toRem(16);
  }

  p:not(:last-child) {
    margin-bottom: toRem(10);
  }
}

.label {
  display: inline-block;
  font-size: toRem(10.8);
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: toRem(2);
  text-transform: uppercase;
  padding: toRem(11) toRem(19);
  border-radius: toRem(12);
  border: toRem(1) solid rgba(129, 129, 139, 0.2);
}

// Окремі сторінки

///////////////////////////////////////
///
.menu-open body {
  overflow: hidden;
}

.header {
  z-index: 50;
  top: toRem(-100);
  left: 0;
  width: 100%;
  transition: all 1s ease-out;

  &.fixed {
    position: fixed;
    transform: translateY(toRem(100));
    background-color: #0d0d11cf;
    .header__container {
      padding-block: toRem(15);
    }
  }

  // .header__container

  &__container {
    padding-block: toRem(32);
    display: flex;
    align-items: center;
    gap: toRem(32);

    @media (max-width: toEm(991.98)) {
      padding-block: toRem(15);
      gap: toRem(20);
    }
  }

  // .header__logo

  &__logo {
    position: relative;
    z-index: 2;
    flex-shrink: 0;

    img:nth-child(1) {
      display: none;
    }

    @media (max-width: toEm(991.98)) {
      flex: 1 1 auto;
    }
    @media (min-width: toEm(550)) {
      img:nth-child(1) {
        display: block;
      }
      img:nth-child(2) {
        display: none;
      }
    }
  }

  // .header__menu

  &__menu {
    flex: 1 1 auto;
  }

  // .header__cart

  &__cart {
    position: relative;
    z-index: 2;
  }

  // .header__button

  &__button {
    position: relative;
    z-index: 2;

    @media (max-width: toEm(425)) {
      padding: toRem(14) toRem(16);
    }
  }
}
.menu {
  @media (max-width: toEm(767.98)) {
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    height: 100dvh;
    background-color: #0d0d11;
    overflow-y: auto;
    transition: width 0.5s;
    .menu-open & {
      width: 100%;
    }
    &::before {
      content: '';
      position: fixed;
      top: 0;
      right: 0;
      width: 0;
      height: toRem(82);
      background-color: #0d0d11;
      z-index: 2;
      transition: width 0.5s;
      border-bottom: toRem(2) solid #3d96f4;

      .menu-open & {
        width: 100%;
      }
    }
  }

  // .menu__list

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    column-gap: toRem(35);
    row-gap: toRem(10);

    @media (max-width: toEm(991.98)) {
      column-gap: toRem(15);
    }
    @media (max-width: toEm(767.98)) {
      flex-direction: column;
      padding-block-start: toRem(100);
      padding-block-end: toRem(30);
      font-size: toRem(35);
    }
  }

  // .menu__item

  &__item {
  }

  // .menu__link

  &__link {
    color: #fff;
    font-weight: 300;
    line-height: 1.6;
    transition: color 0.3s;

    @media (any-hover: hover) {
      &:hover {
        color: #3d96f4;
      }
    }
  }
}
.cart {
  display: flex;
  align-items: center;
  gap: toRem(10);
  color: #fff;
  letter-spacing: toRem(0.96);
  position: relative;

  @media (any-hover: hover) {
    &:hover {
      color: #3d96f4;
    }
  }
  @media (max-width: toEm(425)) {
    color: #3d96f4;
    justify-content: center;
    margin-inline-end: toRem(7);
    &::before {
      content: '';
      position: absolute;
      width: toRem(40);
      height: toRem(50);
      margin-block-start: toRem(-8);
      background: url(../img/icons/basket.svg) no-repeat;
    }
  }

  // .cart__label

  &__label {
    display: none;

    @media (min-width: toEm(425)) {
      display: block;
      font-size: toRem(17.6);
      font-weight: 300;
      line-height: 1.6;
      transition: color 0.3s;
    }
  }

  // .cart__quantity

  &__quantity {
    font-size: toRem(14);
    font-weight: 500;
    transition: color 0.3s;

    @media (min-width: toEm(425)) {
      border-radius: toRem(30);
      background-color: rgba(129, 129, 139, 0.3);
      padding: toRem(10);
    }
  }
}

///////////////////////////////////////
//Burger

.icon-menu {
  display: none;
  @media (max-width: toEm(767.98)) {
    display: block;
    position: relative;
    width: toRem(30);
    height: toRem(18);
    flex-shrink: 0;
    z-index: 5;
    @media (any-hover: none) {
      cursor: default;
    }
    span,
    &::before,
    &::after {
      content: '';
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: toRem(2);
      background-color: #fff;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - toRem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - toRem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - toRem(1));
        transform: rotate(45deg);
      }
    }
  }
}

// =========================================

.page {
  // .page__hero

  &__hero {
    padding-block-start: toRem(40);
    @include adaptiveValue(padding-block-end, 100, 50);
  }

  // .page__partners

  &__partners {
    @include adaptiveValue(padding-block-start, 90, 45);
    @include adaptiveValue(padding-block-end, 65, 35);
  }

  // .page__services

  &__services {
    @include adaptiveValue(padding-block-start, 75, 35);
    @include adaptiveValue(padding-block-end, 90, 45);
  }
}

// =========================================

.hero {
  // .hero__container

  &__container {
    display: flex;
    column-gap: toRem(32);

    @media (max-width: toEm(767.98)) {
      flex-direction: column;
      row-gap: toRem(50);
      text-align: center;
    }
  }

  // .hero__content

  &__content {
    flex: 0 1 50%;
    align-self: center;
  }

  // .hero__images

  &__images {
    flex: 0 1 50%;
  }
}

.content-hero {
  & > * {
    margin-bottom: toRem(28);
  }
  // .content-hero__title

  &__title {
    position: relative;

    @media (min-width: toEm(768)) {
      max-width: toRem(506);
    }

    &::before {
      position: absolute;
      content: '';
      top: toRem(-15);
      left: toRem(-30);
      width: toRem(122);
      height: toRem(122);
      background: url(../img/icons/hero-decor.svg);
    }
  }

  // .content-hero__text

  &__text {
    margin-bottom: toRem(33);

    @media (min-width: toEm(768)) {
      max-width: toRem(491);
    }
  }

  // .content-hero__actions

  &__actions {
    display: flex;
    gap: toRem(32);
    align-items: center;
    flex-wrap: wrap;

    @media (max-width: toEm(991.98)) and (min-width: toEm(768)) {
      gap: toRem(15);
    }
    @media (max-width: toEm(767.98)) {
      justify-content: center;
    }
    @media (max-width: toEm(425)) {
      flex-direction: column;
      gap: toRem(20);
    }
  }

  // .content-hero__button

  &__button {
    flex-shrink: 0;
    @media (max-width: toEm(425)) {
      width: 100%;
    }
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

.images-hero {
  display: flex;
  @include adaptiveValue(gap, 59, 15);
  justify-content: center;

  // .images-hero__column

  &__column {
    display: flex;
    flex-direction: column;
    @include adaptiveValue(gap, 32, 10);
  }

  // .images-hero__image

  &__image {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--1,
    &--4 {
      max-width: toRem(241.906);
      aspect-ratio: 241.906 / 423.359;
      border-radius: toRem(374);
      overflow: hidden;
    }

    &--2,
    &--3 {
      max-width: toRem(241.906);
      aspect-ratio: 1;
      overflow: hidden;
    }

    &--2 {
      border-radius: toRem(241.906) toRem(241.906) toRem(0) toRem(241.906);
    }
    &--3 {
      border-radius: toRem(241.906) toRem(0) toRem(241.906) toRem(241.906);
    }
  }
}

// =========================================

.partners {
  // .partners__container

  &__container {
  }

  // .partners__title

  &__title {
    color: #fff;
    text-align: center;
    font-size: toRem(14);
    font-weight: 300;
    line-height: 1.6;
    letter-spacing: toRem(1);
    text-transform: uppercase;

    &:not(:last-child) {
      margin-bottom: toRem(24);
    }
  }

  // .partners__items

  &__items {
    display: flex;
    align-items: center;
  }

  // .partners__item

  &__item {
  }
}

// =========================================

.services {
  // .services__container

  &__container {
    display: flex;
    gap: toRem(50);
    justify-content: space-between;

    @media (max-width: toEm(991.98)) {
      flex-direction: column;
    }
  }

  // .services__content

  &__content {
    @media (min-width: toEm(992)) {
      flex: 0 1 toRem(512);
      align-self: center;
    }
    @media (max-width: toEm(767.98)) {
      text-align: center;
    }
  }

  // .services__items

  &__items {
    display: flex;
    gap: toRem(32);

    @media (min-width: toEm(992)) {
      flex: 0 1 toRem(664);
    }

    @media (max-width: toEm(767.98)) {
      gap: toRem(20);
    }

    @media (max-width: toEm(475)) {
      flex-direction: column;
    }
  }

  // .services__column

  &__column {
    display: flex;
    flex-direction: column;
    gap: toRem(32);

    @media (max-width: toEm(767.98)) {
      gap: toRem(20);
    }

    @media (min-width: toEm(475)) {
      &:first-child {
        padding-block-start: toRem(48);
      }
    }
  }

  // .services__item

  &__item {
  }
}
.content-services {
  & > * {
    margin-bottom: toRem(20);
  }
  // .content-services__label

  &__label {
  }

  // .content-services__title

  &__title {
  }

  // .content-services__text

  &__text {
    margin-bottom: toRem(33);
  }

  // .content-services__button

  &__button {
    @media (max-width: toEm(425)) {
      width: 100%;
      text-align: center;
    }
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

.item-sevices {
  border-radius: toRem(30);
  background-color: rgba(129, 129, 139, 0.1);
  padding: toRem(35) toRem(25);

  @media (max-width: toEm(767.98)) {
    padding: toRem(20) toRem(15);
  }

  & > * {
    margin-bottom: toRem(15);
  }

  // .item-sevices__icon

  &__icon {
  }

  // .item-sevices__title

  &__title {
    color: #fff;
    font-size: toRem(19.2);
    line-height: 1.4;
  }

  // .item-sevices__text

  &__text {
    color: #81818b;
    font-weight: 300;
    line-height: 1.5;

    p:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}
